.locations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/images/cafebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 95%;
    gap: 15px;
}

.locations h1{
    font-weight: bolder;
    font-size: 1.5rem;
}

.locationsinfo{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 300px;
    text-align: center;
    gap: 8px;
    
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 40px;
}